:root {
    --primary-color: #92ccce;
    --secondary-color: #445877;
    --tertiary-color: #31353d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Header and Navigation Styles */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    width: 100%;
    z-index: 9999;
}

header h1 a {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    background-color: var(--primary-color);
    padding: 1px 5px 1px 100px;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    font-size: 20px;
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    color: var(--primary-color);
    text-decoration: underline;
}

header nav ul li a:hover{
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* Background Figure and Subtitle */
.subtitle-box span {
    background-color: var(--primary-color);
    padding: 5px;
}

.background-image {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-background.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.subtitle-box {
   padding: 0 80px 30px 0;
}



section {
    padding: 20px;
}

.section-title {
    font-size: 40px;
    padding: 20px; 
    border-right: 1px solid var(--tertiary-color);
    text-align: right;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.about-me-info {
    width: 70%;
    text-align: left;
    margin-left: 20px;
    font-size: 16px;
    line-height: 1.2;
}

.work-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.work-heading {
    padding: 20px;
    border-right: 1px solid var(--tertiary-color);
}

.work-links {
    display: flex;
    flex-wrap: wrap;
}

.link-img {
    display: flex;
    width: 200px;
    height: 200px;
}

.links {
    justify-content: space-evenly;
}


