:root {
    --primary-color: #92ccce;
    --secondary-color: #445877;
    --tertiary-color: #31353d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    font-size: 20px;
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    color: var(--primary-color);
    text-decoration: underline;
}

header nav ul li a:hover{
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

.background-image {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-background.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.subtitle-box {
   padding: 0 50px 20px 0;
}

section {
    padding: 20px;
}

.bio-parent {
    display: flex;
    justify-content: space-between;
}

.bio-heading {
    padding: 20px; 
    border-right: 1px solid var(--tertiary-color);
}

.bio-info {
    padding-left: 20px;
}

.work-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.work-heading {
    padding: 20px;
    border-right: 1px solid var(--tertiary-color);
}

.work-links {
    display: flex;
}

.link-img {
    display: flex;
    width: 200px;
    height: 200px;
}

.links {
    align-items: flex-end;
}


